In [10]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

file_path = '/content/buddymove+data+set (1).zip'
data = pd.read_csv(file_path)

In [11]:
attribute_means = data.drop(columns=['User Id']).mean().sort_values(ascending=False)

top_5_attributes = attribute_means.head(5)
print("Top 5 Attributes for South India Destinations:")
print(top_5_attributes)

Top 5 Attributes for South India Destinations:
Nature       124.518072
Picnic       120.401606
Theatre      116.377510
Shopping     112.638554
Religious    109.779116
dtype: float64

In [12]:
most_liked_attribute = attribute_means.idxmax(), attribute_means.max()
print("\nAttribute with Most Liked Travel Spots:", most_liked_attribute)

Attribute with Most Liked Travel Spots: ('Nature', 124.51807228915662)

In [13]:
max_attribute = attribute_means.idxmax(), attribute_means.max()
min_attribute = attribute_means.idxmin(), attribute_means.min()

print("\nMaximum Attribute of Choice:", max_attribute)
print("Minimum Attribute of Choice:", min_attribute)

Maximum Attribute of Choice: ('Nature', 124.51807228915662)
Minimum Attribute of Choice: ('Sports', 11.987951807228916)

In [14]:
role_analysis = data[['Nature', 'Picnic', 'Theatre', 'Shopping']].mean()

print("\nRole Analysis for Beaches, Theatres, Malls, and Parks:")
print(role_analysis)

Role Analysis for Beaches, Theatres, Malls, and Parks:
Nature      124.518072
Picnic      120.401606
Theatre     116.377510
Shopping    112.638554
dtype: float64

In [15]:
sports_attribute_mean = data['Sports'].mean()
print("\nSports Attribute Mean Rating:", sports_attribute_mean)

Sports Attribute Mean Rating: 11.987951807228916

In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Assuming 'data' is your DataFrame containing the features for clustering
# Replace 'features_for_clustering' with the actual column names
# you want to use for clustering
features_for_clustering = ['Nature', 'Picnic', 'Theatre', 'Shopping', 'Sports']
X = data[features_for_clustering]

# Scale the features using StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [18]:
X = data.drop(columns=['User Id'])
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [19]:
kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

data['Cluster'] = clusters

print("\nCluster Distribution:")
print(data['Cluster'].value_counts())

Cluster Distribution:
Cluster
2    114
0     79
1     56
Name: count, dtype: int64